
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>All about us!</h2>
    <p>Pariatur unde autem, commodi eligendi ipsa quaerat provident quibusdam, sit veritatis perferendis facere amet perspiciatis sequi velit quisquam officiis et nostrum laboriosam?</p>
    <a href="/contact" class="btn btn-lg btn-primary">DROP US A LINE</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  fun things
</div>
