<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Welcome!</h2>
    <p>Pariatur unde autem, commodi eligendi ipsa quaerat provident quibusdam, sit veritatis perferendis facere amet perspiciatis sequi velit quisquam officiis et nostrum laboriosam?</p>
    <a href="/" class="btn btn-lg btn-primary">Get Started</a>
    <a href="/contact" class="btn btn-lg btn-primary">Contact</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  Home Page
</div>
